<div class="row">
  <div class="col-sm-3 d-none">
    <ul class="menu">
      {{#pages}}
        <li class="category {{#active}} active{{/active}}">
          {{^is_index}}
            <h5 class="category-title">{{title}}</h5>
          {{/is_index}}
          <ul class="pages">
            {{#files}}
              {{^is_directory}}
                <li class="page{{#active}} active{{/active}}"><a href="{{config.base_url}}/{{slug}}">{{title}}</a></li>
              {{/is_directory}}
              {{#is_directory}}
                <li class="page{{#active}} active{{/active}}">{{title}}
                  {{#files}}
                    <ul>
                      {{^is_directory}}
                        <li class="page{{#active}} active{{/active}}"><a href="{{config.base_url}}/{{slug}}">{{title}}</a></li>
                      {{/is_directory}}
                      {{#is_directory}}
                        <li class="page{{#active}} active{{/active}}">{{title}}</li>
                        <ul>
                          {{#files}}
                            <li class="page{{#active}} active{{/active}}"><a href="{{config.base_url}}/{{slug}}">{{title}}</a></li>
                          {{/files}}
                        </ul>
                      {{/is_directory}}
                    </ul>
                  {{/files}}
                </li>
              {{/is_directory}}
            {{/files}}
          </ul>
        </li>
      {{/pages}}
    </ul>

  </div>
  <div class="col-sm-9">

    <section class="content">
      {{#meta.title}}<h1 class="title">{{meta.title}}</h1>{{/meta.title}}

      {{{content}}}
    </section>

  </div>
</div>